body, html {
	height: 100%;
	width: 100%;
	background: #1abc9c;
	color: white;
}

/* BASICS */
.bg_color_gris_fonce {
	background-color: #dddddd;
}
.bg_color_gris_clair {
	background-color: #eeeeee;
}


/* HOME */
.home {
	height: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	color: white;
	background-color: #424650;
}
.h1_home {
	margin-top: 10%;
	font-size: 80px;
	font-weight: 300;
	letter-spacing: 5px;
}
.h3_home {
	margin-top: 8%;
	font-weight: 300;
}
.home-buttons {
	margin-top: 4%;
}
.btn {
 	font-size: 15px;
 	font-weight: normal;
 	width: 200px;
 	line-height: 1.4;
 	border-radius: 4px;
 	padding: 10px 15px;
 	background-color: #bdc3c7;
 	color: white;
}
.btnReset {
	margin-left: 80%;
	background-color: Transparent;
    border: none;
    cursor: pointer;
    outline: none;
}
.btn:hover {
 	color: #424650;
}

.button_down img {
	width: 50px;
}


/* MEDIA QUERIES */

/* Smartphones */
@media only screen and (max-width: 767px) {
	h1 {
		font-size: 20px;
	}
	
	h3 {
		font-size: 7px;
	}

	.button_down {display:none} /* On enlève la flèche */	
		
}

/* Tablettes */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	h1, .h1 {
		font-size: 50px;
	}
	h3, .h3 {
		font-size: 20px;
	}
		
}
@media only screen and (max-width: 463px) {
	#inscription {
		margin-top: 20px;
	}
		
}


/*

footer {
	background-color: #f8f8f8;
	padding: 50px 0;
}

*/
